 <!-- Conteúdo da Pagina-->
    <div class="container">

        <div class="bg-faded p-4 my-4">
            <div class="card card-inverse">
                <img class="card-img img-fluid w-100" src="img/slide-1.jpg" alt="">
                <div class="card-img-overlay bg-overlay">
                    <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
                    <h4 class="text-shadow text-white">March 1, 2017</h4>
                    <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
                    <a href="#" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>

        <div class="bg-faded p-4 my-4">
            <div class="card card-inverse">
                <img class="card-img img-fluid w-100" src="img/slide-2.jpg" alt="">
                <div class="card-img-overlay bg-overlay">
                    <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
                    <h4 class="text-shadow text-white">March 1, 2017</h4>
                    <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
                    <a href="#" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>

        <div class="bg-faded p-4 my-4">
            <div class="card card-inverse">
                <img class="card-img img-fluid w-100" src="img/slide-3.jpg" alt="">
                <div class="card-img-overlay bg-overlay">
                    <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
                    <h4 class="text-shadow text-white">March 1, 2017</h4>
                    <p class="lead card-text text-shadow text-white w-50 d-none d-lg-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
                    <a href="#" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>

        <!-- Numeração da página -->
        <div class="bg-faded p-4 my-4">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /Conteúdo da Pagina-->